name: Price Tracker

on:
  schedule:
     - cron: 5 * * * *    
  workflow_dispatch:         # Manual run button

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run price checker
        run: |
          python price_checker.py

      - name: Commit updated products.json
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add products.json
          git commit -m "Update price history" || echo "No changes"
          git push
